<% if system_email_actions.include?("view") %>
  <%= icon_link_to t("admin.shared.view"),
    admin_system_email_view_path(system_email_title),
    icon: "far fa-eye" %>
<% end %>

<% if system_email_actions.include?("preview_pending") %>
    <%= icon_link_to t("admin.system_emails.preview_pending.action"),
                admin_system_email_preview_pending_path(system_email_title),
                icon: "fas fa-search" %>
    <%= icon_link_to t("admin.system_emails.preview_pending.send_pending"),
                admin_system_email_send_pending_path(system_email_title),
                icon: "far fa-share-square",
                method: :put %>
<% end %>

<% if system_email_actions.include?("edit_info") %>
  <p class="help-text">
    <%= t("admin.system_emails.edit_info") %><br>
    <code><%= "app/views/mailer/#{system_email_title}.html.erb" %></code>
  </p>
<% end %>
