<% if user.pending_verification? %>
  <p><%= t("admin.verifications.index.pending_verification") %></p>
<% elsif user.failed_residence_verification? %>
  <%= render partial: 'failed_census_call', collection: user.failed_census_calls %>
<% elsif user.failed_age_verification? %>
  <%= render partial: 'failed_person_call', collection: user.failed_person_calls %>
<% elsif user.no_phone_available? %>
  <p><%= t("admin.verifications.index.phone_not_given") %></p>
<% elsif user.sms_code_not_confirmed? %>
  <p><%= t("admin.verifications.index.sms_code_not_confirmed") %></p>
<% end %>
