<h2><%= t("admin.budget_managers.search.title") %></h2>

<%= render "admin/shared/user_search", url: search_admin_budget_managers_path %>

<div id="budget_managers">
  <% if @users.any? %>
    <h3><%= page_entries_info @users %></h3>

    <table>
      <thead>
        <th scope="col"><%= t("admin.budget_managers.index.name") %></th>
        <th scope="col"><%= t("admin.budget_managers.index.email") %></th>
        <th scope="col" class="small-3"><%= t("admin.shared.actions") %></th>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.budget_manager? && user.budget_manager.persisted? %>
              <%= link_to t("admin.budget_managers.budget_manager.delete"),
                          admin_budget_manager_path(user.budget_manager),
                          method: :delete,
                          class: "button hollow alert expanded" %>
            <% else %>
              <%= link_to t("admin.budget_managers.budget_manager.add"),
                          { controller: "admin/budget_managers",
                            action: :create,
                            user_id: user },
                          method: :post,
                          class: "button success expanded" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="callout alert margin">
      <%= t("admin.shared.no_search_results") %>
    </div>
  <% end %>
</div>
