<%= back_link_to admin_officials_path %>

<div class="clear"></div>

<h2 class="inline-block"><%= t("admin.officials.edit.title") %></h2>

<div class="callout highlight">
  <strong><%= @user.name %></strong><br>
  <%= @user.email %>
</div>

<div class="small-12 medium-6">
  <%= render Admin::Officials::FormComponent.new(@user) %>
</div>
