<% if investment.should_show_vote_count? %>
  <h3><%= t("budgets.investments.investment.supports",
       count: investment.total_votes) %></h3>
  <hr>
<% end %>
<% if investment.unfeasible? %>
  <div class="hide sidebar-item">
    <div class="callout warning">
      <%= t("budgets.investments.show.project_unfeasible_html") %>
    </div>
  </div>
<% elsif investment.selected? %>
  <div class="hide sidebar-item">
    <div class="callout success">
      <%= t("budgets.investments.show.project_selected_html") %>
    </div>
  </div>
<% elsif @budget.balloting_or_later? %>
  <div class="sidebar-item">
    <div class="callout warning">
      <%= t("budgets.investments.show.project_not_selected_html") %>
    </div>
  </div>
<% end %>
<% if investment.should_show_price? %>
  <div class="sidebar-item">
    <div class="sidebar-divider"></div>
    <h2><%= t("budgets.investments.show.price") %></h2>
    <div class="supports text-center">
      <p class="investment-project-amount">
        <%= investment.formatted_price %>
      </p>
    </div>
  </div>
<% end %>
<% if can?(:show, @ballot) %>
  <div class="sidebar-item">
    <div class="sidebar-divider"></div>
    <h2 class="sidebar-title">
      <%= t("budgets.investments.index.sidebar.my_ballot") %>
    </h2>
    <% if @ballot.investments.by_heading(investment.heading_id).count > 0 %>
      <p>
        <em>
          <%= t("budgets.investments.index.sidebar.voted_html",
              count: @ballot.investments.by_heading(investment.heading_id).count,
              amount_spent: @ballot.formatted_amount_spent(investment.heading),
              amount_available: @ballot.formatted_amount_available(investment.heading)) %>
        </em>
      </p>
    <% elsif @assigned_heading.present? %>
      <p>
        <%= t("budgets.investments.index.sidebar.different_heading_assigned_html",
                heading_link: heading_link(@assigned_heading, @budget)
              ) %>
        <br>
        <small>
          <%= t("budgets.investments.index.sidebar.change_ballot",
              check_ballot: link_to(t("budgets.investments.index.sidebar.check_ballot_link"),
                            budget_ballot_path(@budget))).html_safe %>
        </small>
      </p>
    <% elsif @custom_assigned_heading.present? %>
      <p>
        <%= t("budgets.investments.index.sidebar.different_heading_assigned_html",
                  heading_link: heading_link(@custom_assigned_heading, @budget)
                ) %>
        <br>
        <small>
          <%= t("budgets.investments.index.sidebar.change_ballot",
                check_ballot: link_to(t("budgets.investments.index.sidebar.check_ballot_link"),
                              budget_ballot_path(@budget))).html_safe %>
        </small>
      </p>
    <% else %>
      <p><strong><%= t("budgets.investments.index.sidebar.zero") %></strong></p>
    <% end %>
    <ul class="ballot-list">
      <% @ballot.investments.by_heading(investment.heading_id).each do |investment| %>
        <%= render 'budgets/ballot/investment_for_sidebar',
                    investment: investment,
                    investment_ids: @investment_ids %>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @budget.phase == 'selecting' && current_user %>
  <div class="sidebar-item">
    <div class="sidebar-divider"></div>
    <h2 class="sidebar-title">
      <%= t("budgets.investments.index.sidebar.my_votes") %>
    </h2>
    <% if current_user.has_votes?(@budget.id) %>
      <p>
        <em>
          <% max_votes_per_budget_per_user = Setting['max_votes_per_budget_per_user'].to_i %>
          <% if @votes.count < max_votes_per_budget_per_user %>
            <%= t("budgets.investments.index.sidebar.supported_html",
                  count: @votes.count,
                  max_supported_count: max_votes_per_budget_per_user,
                  phase_end_date: (I18n.l(@budget.phases.find_by(kind: 'selecting').ends_at.to_date - 1.day, format: :long) rescue '-')
                ) %>
          <% else %>
            <strong>
              <%= t("budgets.investments.index.sidebar.supported_html.all",
                  phase_end_date: (I18n.l(@budget.phases.find_by(kind: 'selecting').ends_at.to_date - 1.day, format: :long) rescue '-')
              ) %>
            </strong>
          <% end %>
        </em>
      </p>
      <%= render partial: 'my_votes' %>
    <% else %>
      <p><strong><%= t("budgets.investments.index.sidebar.zero_supports") %></strong></p>
    <% end %>
  </div>
<% end %>
<div class="hide sidebar-item">
  <%= render partial: 'shared/social_share', locals: {
    share_title: t("budgets.investments.show.share"),
    title: investment.title.mb_chars.upcase,
    image_url: image_absolute_url(investment.image, :thumb),
    url: budget_investment_url(investment.budget, investment),
    description: investment.title.mb_chars.upcase
  } %>
</div>
