<% reason = investment.reason_for_not_being_selectable_by(current_user) %>
<% voting_allowed = true unless reason.presence == :not_voting_allowed %>
<% user_voted_for = voted_for?(investment_votes, investment) %>

<div class="supports js-participation">

  <span class="total-supports <%= "no-button" unless voting_allowed || user_voted_for %>">
    <%= t("budgets.investments.investment.supports", count: investment.total_votes) %>
  </span>

  <div class="in-favor js-in-favor">
    <% if user_voted_for %>
      <div class="supported callout success">
        <%= t("budgets.investments.investment.already_supported") %>
        <% if setting['twitter_handle'] %>
          <div class="share-supported">
            <%= render partial: 'shared/social_share', locals: {
              title: investment.title.mb_chars.upcase,
              image_url: image_absolute_url(investment.image, :thumb),
              url: budget_investment_url(investment.budget, investment),
              description: investment.title.mb_chars.upcase
            } %>
          </div>
        <% end %>
      </div>
      <%= link_to namespaced_budget_investment_unvote_path(investment),
        class: "button button-support small expanded",
        title: t('budgets.investments.investment.support_title'),
        method: "post",
        remote: (current_user&.voted_in_group?(investment.group) ? true : false),
        "aria-hidden" => css_for_aria_hidden(reason) do %>
        <%= t("budgets.investments.investment.remove_support") %>
      <% end %>
    <% elsif investment.should_show_votes? %>
      <% if current_user&.can_vote_budget_investment_for_this_budget?(Budget.current&.id) %>
        <%= link_to namespaced_budget_investment_vote_path(investment),
            class: "button button-support small expanded",
            title: t('budgets.investments.investment.support_title'),
            method: "post",
            remote: (current_user&.voted_in_group?(investment.group) ? true : false),
            "aria-hidden" => css_for_aria_hidden(reason) do %>
            <%= t("budgets.investments.investment.give_support") %>
        <% end %>
      <% else %>
        <%= link_to vote_url,
            class: "button button-support small expanded",
            title: t('budgets.investments.investment.support_title'),
            method: "post",
            remote: (current_user&.voted_in_group?(investment.group) ? true : false),
            "aria-hidden" => css_for_aria_hidden(reason) do %>
            <%= t("budgets.investments.investment.give_support") %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if reason.present? && !user_voted_for %>
    <div class="js-participation-not-allowed participation-not-allowed" style="display:none" aria-hidden="false">
      <p>
        <small>
          <%= sanitize(t("votes.budget_investments.#{reason}",
                count: investment.group.max_votable_headings,
                verify_account: link_to_verify_account,
                signin: link_to_signin,
                signup: link_to_signup,
               )) %>
        </small>
      </p>
    </div>
  <% end %>
</div>
