<footer>
  <div class="row">
    <%# TODO Columna Logos %>
    <div class="column small-12 large-2 logos">
      <%= image_tag("logos/logo-gva.png") %>
      <%= image_tag("logos/logo-participa.png") %>
    </div>
    <%# TODO columna Texto año y quien lo hace %>
    <div class="column small-12 large-3 gobierno">
      <p class="info">
        <%= sanitize(t("layouts.footer.government",
          copyright: t("layouts.footer.copyright"))) %>
      </p>
    </div>
    <%# TODO columna Enlaces de acciones %>
    <div class="column small-12 large-3 links">
      <ul class="no-bullet inline-block">
        <li><%= link_to t("welcome.sections.debate.title"), debates_path %></li>
        <li><%= link_to t("welcome.sections.propone.title"), proposals_path %></li>
        <li><%= link_to t("welcome.sections.vota.title"), polls_path %></li>
        <li><%= link_to t("welcome.sections.normativa.title"), legislation_processes_path   %></li>
        <li><%= link_to t("welcome.sections.presupuesto.title"), budgets_path %></li>
      </ul>
    </div>
    <%# TODO columna Política de privacidad %>
    <div class="column small-12 large-2 privacy">
      <ul class="no-bullet inline-block">
        <li><%= link_to t("layouts.footer.privacy"), page_path("privacy") %></li>
        <li><%= link_to t("layouts.footer.conditions"), page_path("conditions") %></li>
        <li><%= link_to t("layouts.footer.intellectual_property")%></li>
        <li><%= link_to t("layouts.footer.currently")  %></li>
      </ul>
    </div>
    <%# TODO columna social %>
    <div class="column small-12 large-2 footer__social">
      <%= render 'layouts/social_footer' %>
    </div>
  </div>
  <footer>
