<footer>
  <div class="row">
    <%# TODO Columna Logos %>
    <div class="column small-12 large-2 logos">
      <%= image_tag("logos/logo-gva.png") %>
      <%= image_tag("logos/logo-participa.png") %>
    </div>
    <%# TODO columna Texto año y quien lo hace %>
    <div class="column small-12 large-3 gobierno">
      <p class="info">
        <%= sanitize(t("layouts.footer.government",
          copyright: t("layouts.footer.copyright"))) %>
      </p>
    </div>
    <%# TODO columna Enlaces de acciones %>
    <div class="column small-12 large-3 links">
      <ul class="no-bullet inline-block">
        <% if feature?(:debates) %>
          <li>
            <%= layout_menu_link_to t("layouts.header.debates"),
                                debates_path,
                                controller_name == "debates",
                                accesskey: "1",
                                title: t("shared.go_to_page") + t("layouts.header.debates") %>
          </li>
        <% end %>
        <% if feature?(:proposals) %>
          <li>
            <%= layout_menu_link_to t("layouts.header.proposals"),
                                proposals_path,
                                controller.class == ProposalsController,
                                accesskey: "2",
                                title: t("shared.go_to_page") + t("layouts.header.proposals") %>
          </li>
        <% end %>
        <% if feature?(:polls) %>
          <li>
            <%= layout_menu_link_to t("layouts.header.poll_questions"),
                                  polls_path,
                                  controller_name == "polls" || (controller_name == "questions" && controller.class.parent == Polls),
                                  accesskey: "3",
                                  title: t("shared.go_to_page") + t("layouts.header.poll_questions") %>
          </li>
        <% end %>
        <% if feature?(:legislation) %>
          <li>
            <%= layout_menu_link_to t("layouts.header.collaborative_legislation"),
                                legislation_processes_path,
                                controller.class.parent == Legislation,
                                accesskey: "4" %>
          </li>
        <% end %>
        <% if feature?(:budgets) %>
          <li>
            <%= layout_menu_link_to t("layouts.header.budgets"),
                                  budgets_path,
                                  controller_name == "budgets" || controller_name == "investments",
                                  accesskey: "5",
                                  title: t("shared.go_to_page") + t("layouts.header.budgets") %>
          </li>
        <% end %>
      </ul>
    </div>
    <%# TODO columna Política de privacidad %>
    <div class="column small-12 large-2 privacy">
      <ul class="no-bullet inline-block">
        <li><%= link_to t("layouts.footer.privacy"), page_path("privacy") %></li>
        <li><%= link_to t("layouts.footer.conditions"), page_path("conditions") %></li>
        <li><%= link_to t("layouts.footer.accessibility"), page_path("accessibility")  %></li>
      </ul>
    </div>
    <%# TODO columna social %>
    <div class="column small-12 large-2 footer__social">
      <%= render 'layouts/social_footer' %>
    </div>
  </div>
  <footer>
