<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= content_for?(:title) ? yield(:title) : "Gobierno abierto" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>

  <body class="auth-page">
    <div class="wrapper margin-top">
      <%= render "shared/google_analytics" %>
      <div class="row auth">
        <main>

          <div class="small-12 medium-8 large-5 column small-centered panel padding margin-bottom">

            <div class="text-center margin-bottom">

            <%= link_to root_path do %>
              <%= image_tag('CabildoGranCanaria.jpg', class: 'show-for-medium ', alt: t("layouts.header.logo")) %></div>
            <% end %>
            <%= render 'layouts/flash' %>

            <%= yield %>
          </div>
        </main>
      </div>
      <div class="push"></div>
    </div>

    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
