<div class="survey-new row">
  <div class="small-12 medium-12 column">
    <h1><%= @survey.name %></h1>
    <%=raw @survey.description%>
    <div class="small-12 column">
      <%= form_for [@survey, @answered_survey] do |f| %>
        <%= render "shared/errors", resource: @answered_survey %>
        <%= f.fields_for :answers do |answer| %>
          <% ans = answer.object %>
          <div class="small-12 column">
            <strong><%= ans.question_text %></strong>
            <% if ans.errors.any? %>
              <small class="error"><%= ans.errors.full_messages.join("; ") %></small>
            <% end %>
            <%= answer.hidden_field :survey_question_id %>
              <% if ans.question.input_type.present? && ans.question.input_type == 'input' %>
                <%= answer.text_field :comment, label: false %>
              <% end %>
            <p>
              <% if ans.question.input_type.present? && ans.question.input_type == 'radio' %>
                <%= answer.collection_radio_buttons :survey_question_value_id, ans.question.values.order(:order), :id, :text do |option| %>
                  <%= option.label(:class => 'radio-inline') {option.radio_button + option.text} %>
                <% end %>
              <% end %>

              <% if ans.question.input_type.present? && ans.question.input_type == 'text' %>
                <%= answer.text_area :comment, label: false %>
              <% end %>

            </p>
          </div>
        <% end %>
        <div class="small-12 medium-4">
          <%= f.submit t("answered_surveys.new.submit_button"), class: "button expanded" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
