<% provide :title do %><%= @answered_survey.name %><% end %>
<section class="ansered_survey-show">
    <div class="row">
      <div class="small-12 medium-9 column">
        <h1><%= @answered_survey.name %></h1>
        <%=raw @survey.description%>
        <% @answered_survey.answers.each do |answer| %>
          <strong><%= answer.question_text%></strong>
          <p> - 
            <% if answer.value_text.present? %>
              <%= answer.value_text %>
            <% end %>
            <% if answer.comment.present? %>
              <%= answer.comment %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>

