<% if user.geozone_residence == true %>
  <a class="button primary disabled" rel="nofollow"><%= t('admin.users.geozone_validation.state.confirmed') %></a>
<% else %>
  <%= link_to t('admin.users.geozone_validation.actions.confirm'),
              verify_geozone_residence_admin_user_path(user, residence: true),
              method: :put,
              class: 'button primary hollow',
              rel: 'nofollow',
              data: {
                confirm: t('admin.users.geozone_validation.confirm'),
                remote: true
              } %>
<% end %>

<% if user.geozone_residence == false %>
  <a class="button alert disabled" rel="nofollow"><%= t('admin.users.geozone_validation.state.denied') %></a>
<% else %>
  <%= link_to t('admin.users.geozone_validation.actions.deny'),
              verify_geozone_residence_admin_user_path(user, residence: false),
              method: :put,
              class: 'button alert hollow',
              rel: 'nofollow',
              data: {
                confirm: t('admin.users.geozone_validation.confirm'),
                remote: true
              } %>
<% end %>

<%= link_to t('admin.users.geozone_validation.actions.reset'),
            verify_geozone_residence_admin_user_path(user, residence: nil),
            method: :put,
            class: 'button hollow float-right',
            rel: 'nofollow',
            data: {
              confirm: t('admin.users.geozone_validation.confirm'),
              remote: true
            } %>
