<h2><%= t("admin.legislators.index.title") %></h2>

<%= render "admin/shared/user_search", url: search_admin_legislators_path %>

<div id="legislators">
  <% if @legislators.any? %>
    <h3 class="margin"><%= page_entries_info @legislators %></h3>

    <table>
      <thead>
        <th scope="col"><%= t("admin.legislators.index.name") %></th>
        <th scope="col"><%= t("admin.legislators.index.email") %></th>
        <th scope="col" class="small-3"><%= t("admin.shared.actions") %></th>
      </thead>
      <tbody>
        <% @legislators.each do |legislator| %>
          <tr>
            <td>
              <%= legislator.name %>
            </td>
            <td>
              <%= legislator.email %>
            </td>
            <td>
              <%= link_to t("admin.legislators.legislator.delete"),
                admin_legislator_path(legislator),
                method: :delete,
                class: "button hollow alert expanded" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @legislators %>
  <% else %>
    <div class="callout primary">
      <%= t("admin.legislators.index.no_legislators") %>
    </div>
  <% end %>
</div>
