<div class="sections small-12 row margin text-center">
  <div class="small-12 medium-6 large-4 column padding">
    <%= image_tag('icon_informate.png') %>
    <h2><%= t("welcome.sections.info.title") %></h2>
    <p class="small-6 small-offset-3 medium-12 medium-offset-0"><%= t("welcome.sections.info.description") %></p>
  </div>
  <div class="small-12 medium-6 large-4 column padding">
      <%= image_tag('icon_opina.png') %>
    <h2><%= t("welcome.sections.opina.title") %></h2>
    <p class="small-6 small-offset-3 medium-12 medium-offset-0"><%= t("welcome.sections.opina.description") %></p>
  </div>
  <div class="small-12 medium-6 large-4 column padding">
      <%= image_tag('icon_participa.png') %>
    <h2><%= t("welcome.sections.participa.title") %></h2>
    <p class="small-6 small-offset-3 medium-12 medium-offset-0"><%= t("welcome.sections.participa.description") %></p>
  </div>
</div>
