<div class="row">
  <div class="sections-icon margin">
    <div class="sections-icon__title">
      <%=sanitize(t("welcome.sections.title"))%>
    </div>
    <div class="small-12 row ">
      <div class="columns medium-4 small-12 padding sections-icon__item">
        <%= image_tag("icon-sections/rectangle.png") %>
        <h2 class="sections-icon__item__title"><%=t("welcome.sections.debate.title") %></h2>
        <p class="sections-icon__item__description"><%=t("welcome.sections.debate.description") %></p>
      </div>
      <div class="columns medium-4 small-12 padding sections-icon__item">
        <%= image_tag("icon-sections/ico-proponer.png") %>
        <h2 class="sections-icon__item__title"><%=t("welcome.sections.propone.title") %></h2>
        <p class="sections-icon__item__description"><%=t("welcome.sections.propone.description") %></p>
      </div>
      <div class="columns medium-4 small-12 padding sections-icon__item">
        <%= image_tag("icon-sections/ico-votar.png") %>
        <h2 class="sections-icon__item__title"><%=t("welcome.sections.vota.title") %></h2>
        <p class="sections-icon__item__description"><%=t("welcome.sections.vota.description") %></p>
      </div>
    </div>
    <div class="small-12 row">
      <div class="columns medium-offset-2 medium-4 small-12 padding sections-icon__item">
        <%= image_tag("icon-sections/ico-normativa.png") %>
        <h2 class="sections-icon__item__title"><%=t("welcome.sections.normativa.title") %></h2>
        <p class="sections-icon__item__description"><%=t("welcome.sections.normativa.description") %></p>
      </div>
      <div class="columns medium-4 end small-12 padding sections-icon__item">
        <%= image_tag("icon-sections/ico-presupuestos.png") %>
        <h2 class="sections-icon__item__title"><%=t("welcome.sections.presupuesto.title") %></h2>
        <p class="sections-icon__item__description"><%=t("welcome.sections.presupuesto.description") %></p>
      </div>
    </div>
  </div>
</div>
