<div class="sections small-12 column text-center margin">
  <div class="row small-12 medium-10">
    <div class="small-12 medium-3 column padding">
      <%= image_tag('sections/icon_debate.png') %>
      <h2><%= t("welcome.sections.debate.title") %></h2>
      <p class="small-6 small-offset-3 medium-12 medium-offset-0"><%= t("welcome.sections.debate.description") %></p>
    </div>
    <div class="small-12 medium-3 column padding">
        <%= image_tag('sections/icon_propose.png') %>
      <h2><%= t("welcome.sections.propose.title") %></h2>
      <p class="small-6 small-offset-3 medium-12 medium-offset-0"><%= t("welcome.sections.propose.description") %></p>
    </div>
    <div class="small-12 medium-3 column padding">
        <%= image_tag('sections/icon_decide.png') %>
      <h2><%= t("welcome.sections.decide.title") %></h2>
      <p class="small-6 small-offset-3 medium-12 medium-offset-0"><%= t("welcome.sections.decide.description") %></p>
    </div>
    <div class="small-12 medium-3 column padding">
        <%= image_tag('sections/icon_do.png') %>
      <h2><%= t("welcome.sections.do.title") %></h2>
      <p class="small-6 small-offset-3 medium-12 medium-offset-0"><%= t("welcome.sections.do.description") %></p>
    </div>
  </div>
</div>
