<div class="row row-max-width slider-gva">
  <div class="small-12 medium-8 medium-offset-4 large-6 large-offset-6 ">
    <div class="content">
      <h1 class="content__title ">
        <span class="month"><%= sanitize(t("welcome.slider.title.month")) %></span>
        <div class="budget-gva">
          <%= sanitize(t("welcome.slider.title.budget_gva")) %>
        </div>
      </h1>
      <p class="content__txt">
        <%= sanitize(t("welcome.slider.txt")) %>
        <div class="content__icons">
          <%= image_tag("logos/logo Ajuntament vlc.png") %>
          <%= image_tag("logos/logo Ajuntament castello.png") %>
          <%= image_tag("logos/logo ajuntament alacant.png") %>
        </div>
        <button class="button content__btn">
          <%= t("welcome.slider.button") %>
        </button>
      </p>
    </div>
  </div>
</div>
