<% content_for :body_class, "home-page" %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>
<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>
<%#= render "header", header: @header %>
<%= render "welcome_header" %>
<main>
  <div class="row">
    <%= render 'sections_icons' %>
    <%= render 'slider' %>
    <% if @cards.any? %>
      <div class="small-12 columns sections-cards">
        <h3 class="sections-cards__title"><%= t("welcome.cards.title") %></h3>
        <%= render "shared/cards" %>
      </div>
    <% end %>
    <% if feed_processes_enabled? %>
      <div class="small-12">
        <%= render "processes" %>
      </div>
    <% end %>
  </div>
  <%= render "feeds" %>
  <% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
    <%= render "recommended",
                  recommended_debates: @recommended_debates,
                  recommended_proposals: @recommended_proposals %>
  <% end %>
</main>
