<% url = '/debates/3-risco-caido-patrimonio-cultural-de-la-humanidad' %>
<% url2 = '/polls/1' %>
<% url3 = '/budgets' %>
<div class="orbit no-margin-top" role="region" aria-label="banner" data-orbit>
  <div class="orbit-wrapper">
    <ul class="orbit-container">
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <%= link_to '#' do
            image_tag('foto5.jpg', class: 'orbit-image', alt: 'actividades participación ciudadana')
          end %>
        </figure>
      </li>

      <li class="orbit-slide">
        <figure class="orbit-figure">
          <%= link_to new_survey_answered_survey_path(@survey = Survey.find_by_code('ENC-3')) do
            image_tag('foto4.jpg', class: 'orbit-image', alt: 'actividades participación ciudadana')
          end %>
        </figure>
      </li>

      <li class="orbit-slide">
        <figure class="orbit-figure">
          <%= link_to(url3, html_options = {target: '_blank', onclick: "ga('send', 'event','Enlaces','Click','enlace_entra_y_participa', 1);"}) do
            image_tag('foto3.jpg', class: 'orbit-image', alt: 'Actividades participación ciudadana')
          end %>
        </figure>
      </li>

      <li class="orbit-slide">
        <figure class="orbit-figure">
          <%= link_to(url2, html_options = {target: '_blank', onclick: "ga('send', 'event','Enlaces','Click','enlace_entra_y_participa', 1);"}) do
            image_tag('foto2.jpg', class: 'orbit-image', alt: 'Actividades participación ciudadana')
          end %>
        </figure>
      </li>
      <li class="orbit-slide">
        <!-- <div class="row banner"> -->
        <!--   <div class="small&#45;12 medium&#45;12 small&#45;centered column text&#45;center"> -->
        <!--     <h1><%= t("layouts.header.open_city_title_html") %></h1> -->
        <!--   </div> -->
        <!-- </div> -->
        <div class="row register">
          <div class="small-5 medium-3 small-centered">
            <%= link_to(url, html_options = {onclick: "ga('send', 'event','Enlaces','Click','enlace_entra_y_participa', 1);"}) do
                image_tag('sumate.png',  alt: 'sumate')
              end %>
          </div>
        </div>

        <figure class="orbit-figure">
          <%= image_tag('foto1.jpg', class: 'orbit-image', alt: 'Actividades participación ciudadana') %>
        </figure>
      </li>


    </ul>
    <nav class="orbit-bullets">
      <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
      <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="2"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="3"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="4"><span class="show-for-sr">Second slide details.</span></button>
    </nav>
  </div>
</div>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
    <div class="row text-center margin welcome medium-8 small-12">

      <div class="small-12 medium-2 column">
        <%= link_to proposals_path, class: "index #{"active" if controller_name == "proposals"}", accesskey: "d"  do %>
          <%= image_tag("icon_home_debate.png", size: "168x168", alt: t("welcome.debates.title"), title: t("welcome.debates.title")) %>
          <h3><%= t("welcome.debates.title") %></h3>
        <% end %>
        <!-- <p><%= t("welcome.debates.description") %></p> -->

      </div>
      <div class="small-12 medium-2 column">
        <%= link_to proposals_path, class: "index #{"active" if controller_name == "proposals"}", accesskey: "d"  do %>
          <%= image_tag("icon_home_proposal.png", size: "168x168", alt: t("welcome.proposal.title"), title: t("welcome.proposal.title"))  %>
          <h3><%= t("welcome.proposal.title") %></h3>
        <% end %>
        <!-- <p><%= t("welcome.proposal.description") %></p> -->
      </div>

      <div class="small-12 medium-2 column">
        <%= link_to proposals_path, class: "index #{"active" if controller_name == "proposals"}", accesskey: "d"  do %>
          <%= image_tag("icon_home_decide.png", size: "168x168", alt: t("welcome.decide.title"), title: t("welcome.decide.title")) %>
          <h3><%= t("welcome.decide.title") %></h3>
        <% end %>
        <!-- <p><%= t("welcome.decide.description") %></p> -->
      </div>
      <div class="small-12 medium-2 column">
        <%= link_to proposals_path, class: "index #{"active" if controller_name == "proposals"}", accesskey: "d"  do %>
          <%= image_tag("icon_home_do.png", size: "168x168", alt: t("welcome.do.title"), title: t("welcome.do.title")) %>
          <h3><%= t("welcome.do.title") %></h3>
        <% end %>
        <!-- <p><%= t("welcome.do.description") %></p> -->
      </div>
      <div class="small-12 medium-2 column">
        <div data-toggle="modal-video" style="cursor:pointer;" class="">
          <%= image_tag("icon_home_tutorial.png", size: "168x168", alt: t("welcome.tutorial.title"), title: t("welcome.tutorial.title")) %>
          <h3><%= t("welcome.tutorial.title") %></h3>
        </div>
        <!-- <p><%= t("welcome.tutorial.description") %></p> -->

        <div class="reveal" id="modal-video" data-reveal data-reset-on-close="true">
          <span>Tutorial Participación Ciudadana.</span>
          <p>
          <iframe class="tutorial" title="Tutorial Participación Ciudadana" src="https://www.youtube.com/embed/7oWzZ6i1AEA?rel=0&showinfo=0&controls=1" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

          </p>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

    </div>
  </main>
<% end %>
<div class="row margin welcome">
  <div class="small-12 medium-3 column">
    <h2><%= t("welcome.speak.title") %></h2>
    <h1><%= t("welcome.speak.subtitle") %></h1>
    <p><%= t("welcome.speak.description") %></p>
  </div>

  <div class="small-12 medium-9 text-right column">
    <div class="small-12 medium-6 large-6 column">
      <div class="videoWrapper">
        <iframe title="Video1" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FParticipaGC%2Fvideos%2F484678355220298%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
    </div>

    <div class="small-12 medium-6 large-6 column">
      <div class="videoWrapper">
        <iframe title="Video Participación Ciudadana" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FParticipaGC%2Fvideos%2F470655046622629%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
    </div>
  </div>
</div>
