<main>
  <div class="wrap row">
    <div class="small-12 medium-9 column">
      <div id="proposals" class="proposals-list small-12 medium-6 column">
        <h3><%= t("proposals.index.title") %> <%= t("proposals.index.orders.confidence_score").downcase %></h3>
        <div id="proposals-list">
          <%= render partial: 'proposals/proposal', collection: @proposals %>
          <%# <%= paginate @proposals %>
        </div>
        <div class="actions">
          <%= link_to proposals_path do %>
            <%= image_tag 'button_more.svg' %>
          <% end %>
        </div>
      </div>

      <div id="debates" class="debates-list small-12 medium-6 column">
        <h3><%= t("debates.index.title") %> <%= t("debates.index.orders.confidence_score").downcase %></h3>
        <div id="debates-list">
          <%= render partial: 'debates/debate', collection: @debates %>
          <%# <%= paginate @debates %>
        </div>
        <div class="actions">
          <%= link_to debates_path do %>
            <%= image_tag 'button_more.svg' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <%= link_to new_proposal_path do %>
          <%= image_tag 'create_proposal.svg' %>
        <% end %>
        <%= render 'shared/social' %>
      </aside>
    </div>
  </div>
</main>
