<main>
  <div class="wrap row menu">
    <div class="small-12 medium-9 column">
      <%= image_tag 'Banner.png', class: 'banner' %>
      <div id="proposals" class="proposals-list small-12 medium-6 column">
        <h3><%= t("proposals.index.title") %> <%= t("proposals.index.orders.confidence_score").downcase %></h3>
        <div id="proposals-list">
          <%= render partial: 'proposals/proposal', collection: @proposals %>
          <%# <%= paginate @proposals %>
        </div>
        <div class="actions">
          <%= link_to t("shared.suggest.proposal.see_all"), proposals_path, class: 'button' %>
        </div>
      </div>

      <div id="debates" class="debates-list small-12 medium-6 column">
        <h3><%= t("debates.index.title") %> <%= t("debates.index.orders.confidence_score").downcase %></h3>
        <div id="debates-list">
          <%= render partial: 'debates/debate', collection: @debates %>
          <%# <%= paginate @debates %>
        </div>
        <div class="actions">
          <%= link_to t("shared.suggest.debate.see_all"), debates_path, class: 'button' %>
        </div>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <%= link_to new_proposal_path do %>
          <%= image_tag 'create_proposal.png' %>
        <% end %>
        <%= render 'shared/summary' %>
        <%# <%= render 'shared/social' %>
      </aside>
    </div>
  </div>
</main>
