<% url = '/debates/2-risco-caido-patrimonio-cultural-de-la-humanidad' %>
<div class="expanded highlight padding no-margin-top">
  <div class="row">
    <div class="small-12 medium-6 large-6 column padding" style='margin-top: 250px;'>
      <!-- <h1> -->
      <!--   <%= link_to t("layouts.header.open_city_title"), url, onclick: "ga('send', 'event','Enlaces','Click','enlace_futuro_de_GC', 1);" %> -->
      <!-- </h1> -->
      <!-- <h1><span><%= link_to t("layouts.header.open_city_slogan_html"), url, onclick: "ga('send', 'event','Enlaces','Click','enlace_lo_decides_tu', 1);" %></span></h1> -->
      <div class="medium-4 small-6">
        <%= link_to(url, html_options = {onclick: "ga('send', 'event','Enlaces','Click','enlace_entra_y_participa', 1);"}) do
          image_tag('sumate.png',  alt: 'sumate')
        end %>
      </div>
    </div>

    <!-- <div class="small&#45;12 medium&#45;6 large&#45;6 column text&#45;center"> -->
    <!--   <div class="videoWrapper"> -->
    <!--     <iframe title= "Spot Participa Gran Canaria" width="560" height="315" src="https://www.youtube.com/embed/QNw2MFKZxvk?rel=0&#38;showinfo=0&#38;controls=1" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe> -->
    <!--   </div> -->
    <!-- </div> -->
  </div>
</div>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
    <div class="row text-center margin welcome medium-8 small-12">

      <div class="small-12 medium-2 column">
        <%= link_to proposals_path, class: "index #{"active" if controller_name == "proposals"}", accesskey: "d"  do %>
          <%= image_tag("icon_home_debate.png", size: "168x168", alt: t("welcome.debates.title"), title: t("welcome.debates.title")) %>
          <h3><%= t("welcome.debates.title") %></h3>
        <% end %>
        <!-- <p><%= t("welcome.debates.description") %></p> -->

      </div>
      <div class="small-12 medium-2 column">
        <%= link_to proposals_path, class: "index #{"active" if controller_name == "proposals"}", accesskey: "d"  do %>
          <%= image_tag("icon_home_proposal.png", size: "168x168", alt: t("welcome.proposal.title"), title: t("welcome.proposal.title"))  %>
          <h3><%= t("welcome.proposal.title") %></h3>
        <% end %>
        <!-- <p><%= t("welcome.proposal.description") %></p> -->
      </div>

      <div class="small-12 medium-2 column">
        <%= link_to proposals_path, class: "index #{"active" if controller_name == "proposals"}", accesskey: "d"  do %>
          <%= image_tag("icon_home_decide.png", size: "168x168", alt: t("welcome.decide.title"), title: t("welcome.decide.title")) %>
          <h3><%= t("welcome.decide.title") %></h3>
        <% end %>
        <!-- <p><%= t("welcome.decide.description") %></p> -->
      </div>
      <div class="small-12 medium-2 column">
        <%= link_to proposals_path, class: "index #{"active" if controller_name == "proposals"}", accesskey: "d"  do %>
          <%= image_tag("icon_home_do.png", size: "168x168", alt: t("welcome.do.title"), title: t("welcome.do.title")) %>
          <h3><%= t("welcome.do.title") %></h3>
        <% end %>
        <!-- <p><%= t("welcome.do.description") %></p> -->
      </div>
      <div class="small-12 medium-2 column">
        <div data-toggle="modal-video" style="cursor:pointer;" class="">
          <%= image_tag("icon_home_tutorial.png", size: "168x168", alt: t("welcome.tutorial.title"), title: t("welcome.tutorial.title")) %>
          <h3><%= t("welcome.tutorial.title") %></h3>
        </div>
        <!-- <p><%= t("welcome.tutorial.description") %></p> -->

        <div class="reveal" id="modal-video" data-reveal data-reset-on-close="true">
          <span>Tutorial Participación Ciudadana.</span>
          <p>
          <iframe class="tutorial" title="Tutorial Participación Ciudadana" src="https://www.youtube.com/embed/7oWzZ6i1AEA?rel=0&showinfo=0&controls=1" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

          </p>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

    </div>
  </main>
<% end %>
<div class="row margin welcome">
  <div class="small-12 medium-3 column">
    <h2><%= t("welcome.speak.title") %></h2>
    <h1><%= t("welcome.speak.subtitle") %></h1>
    <p><%= t("welcome.speak.description") %></p>
  </div>

  <div class="small-12 medium-9 text-right column">
    <div class="small-12 medium-6 large-6 column">
      <div class="videoWrapper">
        <iframe title="Video1" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FParticipaGC%2Fvideos%2F484678355220298%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
    </div>

    <div class="small-12 medium-6 large-6 column">
      <div class="videoWrapper">
        <iframe title="Video Participación Ciudadana" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FParticipaGC%2Fvideos%2F470655046622629%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
    </div>
  </div>
</div>
