<main>
  <div class="wrap row">
    <div class="small-12 large-9 column">
      <!-- <div class="survey_banner large&#45;12 margin&#45;bottom"> -->
      <!--   <%= link_to image_tag('Banner.png', class: 'banner'), 'https://goo.gl/forms/8bVdOvdsIcFct7yZ2', target: '_blank' %> -->
      <!-- </div> -->
      <div id="proposals" class="proposals-list small-12 large-6 column">
        <h3><span class="proposals"><%= t("proposals.index.title") %></span> <%= t("proposals.index.orders.confidence_score").downcase %></h3>
        <div id="proposals-list">
          <%= render partial: 'proposals/proposal', collection: @proposals %>
          <%# <%= paginate @proposals %>
        </div>
        <div class="actions">
          <%= link_to t("shared.suggest.proposal.see_all"), proposals_path, class: 'button' %>
        </div>
      </div>

      <div id="debates" class="debates-list small-12 large-6 column">
        <h3><span><%= t("debates.index.title") %></span> <%= t("debates.index.orders.confidence_score").downcase %></h3>
        <div id="debates-list">
          <%= render partial: 'debates/debate', collection: @debates %>
          <%# <%= paginate @debates %>
        </div>
        <div class="actions">
          <%= link_to t("shared.suggest.debate.see_all"), debates_path, class: 'button' %>
        </div>
      </div>
    </div>
    <div class="small-12 large-3 column">
      <aside class="margin-bottom">
        <div class="hide-for-large-only">
          <%= link_to t("proposals.index.start_proposal"), new_proposal_path, class: 'button expanded', onclick: "ga('send', 'event','Enlaces','Click','enlace_desde_resumen_participacion', 1);" %>
        </div>
        <%= link_to new_proposal_path, class: "show-for-large-only" do %>
          <%= image_tag 'create_proposal.png' %>
        <% end %>
        <%= render 'shared/summary' %>
        <%# <%= render 'shared/social' %>
      </aside>
    </div>
  </div>
</main>
