<% if user.residence_requested? %>
  <p><%= t("admin.verifications.index.pending_verification", count: (user.failed_person_calls.count + user.failed_census_calls.count + 1)) %></p>
<% elsif user.failed_residence_verification? %>
  <%= render partial: 'shared/failed_census_call', collection: user.failed_census_calls %>
<% elsif user.failed_age_verification? %>
  <%= render partial: 'shared/failed_person_call', locals: { failed_person_call: user.failed_person_calls.last } %>
<% elsif user.no_phone_available? %>
  <p><%= t("admin.verifications.index.phone_not_given") %></p>
<% elsif user.sms_code_not_confirmed? %>
  <p><%= t("admin.verifications.index.sms_code_not_confirmed") %></p>
<% end %>
