<nav>
  <ul>
    <%= raw content_block("subnavigation_left") %>
    <li>
    <%= layout_menu_link_to t("layouts.header.about"),
                            "/despre-bugetare-participativa",
                            controller_name == "about",
                            accesskey: "1" %>
    </li>

    <% if feature?(:debates) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.debates"),
                                debates_path,
                                controller_name == "debates",
                                accesskey: "1" %>
      </li>
    <% end %>
    <% if feature?(:proposals) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.proposals"),
                                proposals_path,
                                controller.class == ProposalsController,
                                accesskey: "2" %>
      </li>
    <% end %>
    <% if feature?(:polls) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.poll_questions"),
                                  polls_path,
                                  controller_name == "polls" || (controller_name == "questions" && controller.class.parent == Polls),
                                  accesskey: "3" %>
      </li>
    <% end %>
    <% if feature?(:legislation) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.collaborative_legislation"),
                                legislation_processes_path,
                                controller.class.parent == Legislation,
                                accesskey: "4" %>
      </li>
    <% end %>

    <% if feature?(:budgets) %>
      <li>
        <%= layout_menu_link_to t("layouts.header.budgets"),
                                  "/rezultate",
                                  controller_name == "budgets" || controller_name == "investments",
                                  accesskey: "2" %>
      </li>
    <% end %>

    <% if feature?(:budgets) %>
      <li>
        <%= layout_menu_link_to "Proiecte Bugetare Participativa",
                                  "/budgets/2",
                                  controller_name == "budgets" || controller_name == "investments",
                                  accesskey: "2" %>
      </li>
    <% end %>

    <li>
        <%= layout_menu_link_to t("layouts.header.calendar"),
                                "/calendar",
                                controller_name == "calendar",
                                accesskey: "3" %>
    </li>

    <li>
        <%= layout_menu_link_to t("layouts.header.news"),
                                "/news",
                                controller_name == "news",
                                accesskey: "4" %>
    </li>

      <li>
      <%= layout_menu_link_to t("layouts.header.evaluation"),
                              "/evaluarea-proiectelor",
                              controller_name == "evaluation",
                              accesskey: "5" %>
    </li>

    <li>
        <%= layout_menu_link_to t("layouts.header.faq"),
                                "/faq",
                                controller_name == "faq",
                                accesskey: "6" %>
    </li>

      <li>
      <%= layout_menu_link_to t("layouts.header.contact"),
                              "/contact",
                              controller_name == "contact",
                              accesskey: "7" %>
    </li>

    <%= raw content_block("subnavigation_right") %>
  </ul>
</nav>
