<div class="small-4 medium-3 large-3 float-right social column">
  <ul>
    <% if setting['blog_url'] %>
      <li class="inline-block">
        <%= link_to setting['blog_url'], target: "_blank",  title: t('shared.target_blank_html') do %>
          <span class="show-for-sr"><%= t("layouts.header.external_link_blog") %></span>
          <%= image_tag("blog.png") %>
        <% end %>
      </li>
    <% end %>

    <% if setting['facebook_handle'] %>
      <li class="inline-block">
        <%= link_to "https://www.facebook.com/#{setting['facebook_handle']}/", target: "_blank", title: t("social.facebook") + t('shared.target_blank_html'), onclick: "ga('send', 'event','Enlaces','Click','enlace_fb', 1);" do %>
          <span class="show-for-sr"><%= t("social.facebook") %></span>
          <%= image_tag("facebook.png") %>
        <% end %>
      </li>
    <% end %>
    <% if setting['twitter_handle'] %>
      <li class="inline-block">
        <%= link_to "https://twitter.com/#{setting['twitter_handle']}", target: "_blank", title: t("social.twitter") + t('shared.target_blank_html'), onclick: "ga('send', 'event','Enlaces','C     lick','enlace_tw', 1);" do %>
          <span class="show-for-sr"><%= t("social.twitter") %></span>
          <%= image_tag("twitter.png") %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="principal-menu small-12 medium-7 large-7 column float-right">
  <ul>
    <li class= "index">
      <%= link_to resume_path, class: "index #{"active" if controller_name == "pages"}", accesskey: "d"  do %>
        <h1 class="hide-for-small-only"> <%= t("layouts.header.participate")%></h1>
        <span class="show-for-small-only"><%= t("layouts.header.participate")%> </span>
      <% end %>
    </li>

    <li class="proposals ">
      <%= link_to proposals_path, class: "proposals #{"active" if  controller_name == "proposals"}", accesskey: "p" do %>
        <h1 class="hide-for-small-only"> <%= t("layouts.header.proposals")%></h1>
        <span class="show-for-small-only"><%= t("layouts.header.proposals")%> </span>
      <% end %>
    </li>
    <li class="debates">
      <%= link_to debates_path, class: "debates #{"active" if controller_name == "debates"}", accesskey: "d"  do %>
        <h1 class="hide-for-small-only"> <%= t("layouts.header.debates")%></h1>
        <span class="show-for-small-only"><%= t("layouts.header.debates")%> </span>
      <% end %>
    </li>
    <li class="debates">
      <%= link_to budgets_path, class: "municipios #{"active" if controller_name == "budgets"}", accesskey: "d"  do %>
        <h1 class="hide-for-small-only"> Presupuestos Arucas</h1>
        <span class="show-for-small-only"><%= t("layouts.header.budgets")%> </span>
      <% end %>
    </li>
    <li class="debates">
      <%= link_to polls_path, class: "polls #{"active" if controller_name == "budgets"}", accesskey: "d"  do %>
        <h1 class="hide-for-small-only">Encuesta Ingenio</h1>
        <span class="show-for-small-only">Encuestas Participativas</span>
      <% end %>
    </li>
    <!-- <li> -->
    <!--   <%= link_to t("layouts.header.city_council_debates"), nil, class: "city_council_debates #{"active" if controller_name == "city_council_debates"}", accesskey: "d" %> -->
    <!-- </li> -->
    <!-- <li> -->
    <!--   <%= link_to t("layouts.header.organizations"), nil, class: "organizations #{"active" if current_page?("/organizations")}", accesskey: "o"  %> -->
    <!-- </li> -->
    <!-- <li> -->
    <!--   <%= link_to t("layouts.header.volunteers"), nil, class: "volunteers #{"active" if current_page?("/volunteers")}", accesskey: "v"  %> -->
    <!-- </li> -->
  </ul>
</div>


