<div class="summary">
  <h5>¿Cómo darse de alta?</h5>
  <p>
    <%= image_tag 'registro.png' %>
    Entra en la sección de Registro</p>
  <p><%= image_tag 'icono_datos.png'%>Crea tu cuenta</p>
  <p><%= image_tag 'casilla_aceptacion.png'%>No olvides marcar la aceptación de las condiciones de uso</p>
  <p><%= image_tag 'icono_email.png'%>Te llegará un correo electrónico a la dirección que hayas especificado y tendrás que "Confirmar mi cuenta"</p>
  <p>¡Ya puedes estar al día sobre todos los procesos participativos de tu isla, puedes crear iniciativas populares y realizar comentarios sobre las existentes!</p>
  <h5>Cómo puedes apoyar una iniciativa o votar una propuesta</h5>
  <p>El sistema te pedirá tus datos de residencia (DNI), fecha de nacimiento y código postal, para verificar que estás empadronado en Gran Canaria</p>
  <p><%= image_tag 'casilla_aceptacion.png'%>Deberás aceptar los términos de acceso al Padrón para que podamos verificarlo.</p>
<p><%= image_tag 'icono_sms.png'%>Recibirás SMS con un código de verificación confirmando ser residente que deberás introducir para apoyar iniciativas y propuestas.</p>
  <p>¡ENHORABUENA!, ya puedes participar en las decisiones importantes de tu Isla.<p>
</div>


