<div class="summary">
  <h5>¿Cómo darse de alta?</h5>
  <div class="row">
    <div class="small-2 large-3 columns">
      <%= image_tag 'registro.png' %>
    </div>
    <div class="small-10 large-9 columns">
      <p>Entra en la sección de Registro</p>
    </div>
  </div>
  <div class="row">
    <div class="small-2 large-3 column">
      <%= image_tag 'icono_datos.png'%>
    </div>
    <div class="small-10 large-9 column"><p>Crea tu cuenta</p></div>
  </div>
  <div class="row">

    <div class="small-2 large-3 column">
      <%= image_tag 'casilla_aceptacion.png'%>
    </div>
    <div class="small-10 large-9 column"><p>No olvides marcar la aceptación de las condiciones de uso</p></div>
  </div>
  <div class="row">

    <div class="small-2 large-3 column">
      <%= image_tag 'icono_email.png'%>
    </div>
    <div class="small-10 large-9 column"><p>Te llegará un correo electrónico a la dirección que hayas especificado y tendrás que "Confirmar mi cuenta"</p></div>
  </div>

  <div class="summary-2">
    <div class="row">
      <div class="small-2 large-3 column">
        <%= image_tag 'ya_puedes.png'%>
      </div>
      <div class="small-10 large-9 column">
        <p>¡Ya puedes estar al día sobre todos los procesos participativos de tu isla, puedes crear iniciativas populares y realizar comentarios sobre las existentes!</p></div>
    </div>
  </div>
  <h5>Cómo puedes <b>apoyar una iniciativa o votar una propuesta</b></h5>
  <div class="large-12 column">
    <p>El sistema te pedirá tus datos de residencia (DNI), fecha de nacimiento y código postal, para verificar que estás empadronado en Gran Canaria</p>
  </div>
  <div class="row">
    <div class="small-2 large-3 column">
      <%= image_tag 'icono_municipio.png'%>
    </div>
    <div class="small-10 large-9 column">
      <p>Deberás declarar que eres residente en uno de los 21 municipios de la isla de Gran Canaria.</p>
    </div>
    <div class="row">
    </div>
    <div class="small-2 large-3 column">
      <%= image_tag 'icono_sms.png'%>
    </div>
    <div class="small-10 large-9 column">
      <p>Recibirás SMS con un código de verificación confirmando ser residente que deberás introducir para apoyar iniciativas y propuestas.</p>
    </div>
    <div class="large-12 column">
      <p>¡ENHORABUENA!, ya puedes participar en las decisiones importantes de tu Isla.<p>
    </div>
  </div>


