<!-- <section class="top&#45;links hide&#45;for&#45;small&#45;only"> -->
<section class="top-links">
  <div class="row">
    <%#  <%= render "shared/locale_switcher" %>
    <div class="small-12 medium-3 column social">
      <% if setting['facebook_handle'] %>
        <li class="inline-block">
          <%= link_to "https://www.facebook.com/#{setting['facebook_handle']}/", target: "_blank", title: t("social.facebook") + t('shared.target_blank_html') do %>
            <span class="sr-only"><%= t("social.facebook") %></span>
            <%= image_tag("facebook.svg") %>
          <% end %>
        </li>
      <% end %>
      <% if setting['twitter_handle'] %>
        <li class="inline-block">
          <%= link_to "https://twitter.com/#{setting['twitter_handle']}", target: "_blank", title: t("social.twitter") + t('shared.target_blank_html') do %>
            <span class="sr-only"><%= t("social.twitter") %></span>
            <%= image_tag("twitter.svg") %>
          <% end %>
        </li>
      <% end %>
    </div>
    <div class="external-links small-12 medium-9">
      <%# <%= link_to setting['org_name'], root_path, class: ("selected" unless current_page?("/opendata")) %>
      <%# <%= link_to t("layouts.header.external_link_transparency"), t("layouts.header.external_link_transparency_url") %>
      <%# <%= link_to t("layouts.header.external_link_opendata"), "/opendata", class: ("selected" if current_page?("/opendata")) %>
      <ul class="menu">
        <li>
          <%= link_to page_path('faq') do %>
            <span class="icon-comments"></span>
            <%= t("layouts.footer.faq") %>
          <% end %>
        </li>
        <%= render "shared/admin_login_items" %>
        <li>
          <%= link_to t("layouts.header.external_link_institution_url") do %>
            <%= image_tag("Cabildo Gran Canaria.svg") %>
            <%= t("layouts.header.external_link_institution") %>
          <% end %>
        </li>
        <% if setting['blog_url'] %>
          <li>
            <%= link_to setting['blog_url'], title: t('shared.target_blank_html'), target: "_blank" do %>
              <%= t("layouts.header.external_link_blog") %>
            <% end %>
        </li>
        <% end %>
      </ul>
   </div>
  </div>
</section>
