<footer>
  <div class="row">
    <div class="small-12 large-4 column">
      <h1 class="logo">
        <%= link_to t("layouts.header.open_gov", open: t("layouts.header.open")), root_path %>
      </h1>

      <p class="info">
        <%= sanitize(t("layouts.footer.description",
          open_source: link_to(t("layouts.footer.open_source"), t("layouts.footer.open_source_url"), target: "blank", rel: "nofollow"),
          consul:  link_to(t("layouts.footer.consul"), t("layouts.footer.consul_url"), target: "blank", rel: "nofollow"))) %>
        <%= t("layouts.footer.contact_us") %>
      </p>
    </div>

  </div>

  <div class="subfooter row">
    <div class="small-12 medium-8 column">
      <%= t("layouts.footer.copyright", year: Time.current.year) %>&nbsp;|
      <ul class="no-bullet inline-block">
        <li class="inline-block"><%= link_to t("layouts.footer.privacy"), page_path("privacy") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.conditions"), page_path("conditions") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.accessibility"), page_path("accessibility") %></li>
      </ul>
    </div>

    <div class="small-12 medium-4 column social">
      <div class="text-right">
        <ul>
          <li class="inline-block">
            <%= link_to "#", target: "_blank" do %>
              <%= image_tag('cabildo.png') %>
            <% end %>
          </li>
          <li class="inline-block">
            <%= link_to "#", target: "_blank" do %>
              <%= image_tag('ayto.png') %>
            <% end %>
          </li>
          <li class="inline-block">
            <%= link_to "#", target: "_blank" do %>
              <%= image_tag('gesplan.png') %>
            <% end %>
          </li>
          <%= raw content_block("footer", I18n.locale) %>
        </ul>
      </div>
    </div>
  </div>
</footer>
