<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

  <head>
    <%= render "layouts/common_head", default_title: "Admin" %>
    <%= content_for :head %>
  </head>

  <body class="admin" data-watch-form-message="<%= I18n.t("layouts.admin.watch_form_message") %>">
    <%= render "layouts/admin_header" %>

    <div class="side-menu-and-admin-content no-margin-top">
      <nav id="side_menu" class="admin-sidebar">
        <%= side_menu %>
      </nav>

      <div class="admin-content">
        <a href="#side_menu" class="button hollow expanded"><%= t("admin.menu.admin") %></a>
        <a href="#hide_side_menu" title="<%= t("admin.menu.admin") %>"></a>

        <%= render "layouts/flash" %>
        <%= render "layouts/officing_booth" if controller.class.parent == Officing && session[:booth_id].present? %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
