<!DOCTYPE html>
<html <%= common_html_attributes %>>
  <head>
    <%= render "layouts/common_head", default_title: setting["org_name"] %>
    <%= render "layouts/meta_tags" %>
    <%= raw setting["html.per_page_code_head"] %>
  </head>

  <body class="auth-page">
    <%= render Layout::SkipToMainContentComponent.new %>
    <%= raw setting["html.per_page_code_body"] %>
    <div class="wrapper">
      <header class="auth-image"
           style="<%= attached_background_css asset_url(image_path_for("auth_bg.jpg")) %>">
        <h1 class="logo">
          <%= link_to root_path do %>
            <%= image_tag(image_path_for("logo_header.png"), class: "float-left", alt: setting["org_name"]) %>
          <% end %>
        </h1>
      </header>

      <main id="main" class="auth-form <%= yield(:main_class) %>">
        <%= render "layouts/flash" %>

        <%= yield %>
      </main>
    </div>

    <div class="footer">
      <%= render Layout::FooterComponent.new %>
    </div>
  </body>
</html>
